.article-note {
  width: 941px;
  height: 140px;
  background: #ffffff;
  border-radius: 5px;
  margin: 26px auto;
  padding: 15px 14px 24px 19px;
  display: grid;
  grid-template-columns: auto 100px 50px;
  gap: 12px;

  &__tag{
    margin-right: 8px;
  }
  
  &__text-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 682px;
  }

  &__title-wrapper{
    display: flex;
    align-items: baseline;    
  }
  &__title {
    margin: 0 13px 0 0;
    font-size: 20px;
    line-height: 28px;
    color: #1890FF;
  }
  &__favorited {
    margin-right: 5px;
  }
  &__favorites-count {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.75);
    margin-left: 5px;
  }
  
  &__photo{
    width: 46px;
    height: 46px;
    border-radius: 50%;
  }
}
