.header-app {
  position: sticky;
  top: 0;
  z-index: 999;

  background-color: white;
  height: 80px;
  padding: 16px 22px 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.85);
  }

  &__public,
  &__private {
    display: grid;
    align-items: center;
    gap: 27px;
    grid-template-columns: repeat(3, auto);
  }

  &__btn {
    font-size: 18px;
    line-height: 28px;

    &--border {
      padding: 0 10px;
      color: $color-border-primary;
      border: 1px solid $color-text-primary;
      border-radius: 5px;
    }
    
    &--color{
      color: $color-text-secondary;
      border: 1px solid $color-border-secondary;
    }
    &--large{
      padding: 10px 20px;      
      height: auto;
    }
  }

}
