.user {
  &__name {
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.85);
  }
  &__icon {
    margin-left: 13px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
  }
}
